*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

a,
h2,
h3,
button{
    font-family: 'cinzel';
}

p,
h4{
    font-family: "Old Standard TT";
    font-weight: lighter;
}

h4{
    font-style: italic;
}

header{
    background-color: #0d3010;
}

header img{
    width: 200px;
    margin-left: 2vw;
}

nav,
footer .sugestao{
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header li{
    padding-top: 3vw;
    white-space: nowrap;
}

header a{
    color: #dab836;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}

#teste{
    background-image: linear-gradient(rgba(4, 48, 52, 0.1), rgba(52, 52, 52, 0.6)), url(../../img/logos/plano-de-fundo-ratanabá.jpg);
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section .container{
    flex-direction: column;
    justify-content: center;
}

#pack .container{
    background-color: #0d3010;
}

.container .pacotes{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: space-evenly;
    margin-bottom: 3vw;
}

.pacotes .pacote{
    background-color:#fff;
    width: 23%;
    border: 1px solid #f0cd20;
    align-items: start;
}

.pacote div{
    margin-top: 2vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;    
    gap: 2vw;
}

.pacote img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

h2{ font-style: italic;
    font-size: 2vw;
    color: #ab9217;
    margin: 5vw auto;
}

button{
    border-radius: 10px;
    text-align: start;
    color: white;
    padding: 13px 15%;
    border:  none;
    background-color: #316d45;
}

.container .atracoes{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: space-evenly;
}

.atracoes .atracao0,
.atracoes .atracao1{
    display: flex;
    align-items: center;
    width: 60%;
    height: 20vw;
    margin: 3vw;
    border-radius: 40px;
    gap: 10%;
    box-shadow: 0 0 60px 3px #66956c;
}

.atracoes .atracao0{
    padding-right: 4vw;
}

.atracoes .atracao1{
    padding-left: 3vw;
    flex-direction: row-reverse;
}

.atracoes img{
    border-radius: 40px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

footer{
    background-color: #0d3010;
    padding: 20px;
    color: #fff;
}

footer img{
    height: 20px;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

footer .metodosContato{
    flex-direction: column-reverse;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    gap: 2vw;
}

footer .contato div{
    margin-top: 1vw;
}

footer .sugestao{
    flex-direction: column;
    gap: 1vw;
}

form input,
form textarea{
    background-color: #59c766;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

::placeholder{
    color: white;
    font-family: "Old Standard TT";
}

form textarea{
    resize: none;
    height: 4vw;
}

footer h3{
    font-style: italic;
    color: #4d9d56;
}