*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #043034;
    padding: 10px;
}

header img{
    margin: 1vw auto;
    width: 200px;
    margin-left: 2vw;
}

nav{
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header li{
    padding-top: 3vw;
    white-space: nowrap;
}

header a{
    font-family: 'cinzel';
    color: #dab836;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}

#teste{
    background-image: linear-gradient(rgba(4, 48, 52, 0.1), rgba(52, 52, 52, 0.6)), url(./resort-plano-de-fundo.jpg);
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section .container{
    flex-direction: column;
    justify-content: center;
}

.container .pacotes{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: space-around;
}

.pacotes .pacote{
    width: 25%;
    padding: 15px;
    border: 1px solid #dab836;
}

.pacote div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.pacote img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

h2{
    font-family: 'cinzel';
    font-size: 2vw;
    color: #043034;
    margin: 3vw auto;
}

button{
    padding: 3px;
}

/*
#teste {
    width: 100%;
    height: 30vw;
}

.img-container{
   object-fit: cover;
    width: 100%;
    height: 100%;
}
*/
/*#043034 - cor da logo*/
