*{
    margin: 0;
    padding: 0;
}

a,
h2,
h3,
button{
    text-decoration: none;
    font-family: 'cinzel';
}

button{
    cursor: pointer;
}

p{
    font-family: "Old Standard TT";
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #0d3010;
}

header img{
    width: 200px;
    margin-left: 2vw;
}

nav,
footer .sugestao{
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header li{
    padding-top: 3vw;
    white-space: nowrap;
}

header a{
    color: #dab836;
    font-size: 16px;
    font-weight: lighter;
}


footer{
    background-color: #0d3010;
    padding: 20px;
    color: #fff;
}

footer img{
    height: 20px;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

footer .metodosContato{
    flex-direction: column-reverse;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    gap: 2vw;
}

footer .contato div{
    margin-top: 1vw;
}

footer .sugestao{
    flex-direction: column;
    gap: 1vw;
}

form input,
form textarea{
    background-color: #59c766;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

::placeholder{
    color: white;
    font-family: "Old Standard TT";
}

form textarea{
    resize: none;
    height: 4vw;
}

footer h3{
    font-style: italic;
    color: #4d9d56;
}

footer a{
    color: #fff;
}

footer .redes-sociais img{
    margin: 1vh;
    width: 3vw;
    height: 3vw;
    border-radius: 20px;
    align-items: center;
    object-fit: contain;
}

@media (max-width: 550px) {
    header ul {
        gap: 1vw
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vw;
    }
}

@media (max-width: 600px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .localizacao iframe {
        width: 80%;
        max-width: 600px;
        height: 300px;
    }

    footer .redes-sociais img{
        width: 5vw;
        height: 5vw;
    }

    header ul {
        gap: 1vw
    }
}

@media (600px <= width <= 800px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul {
        gap: 2vw
    }
}

@media (800px <= width <= 1200px) {
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0vw;
    }

    .sugestao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80%; 
    }

    .localizacao {
        margin-top: 2vw;
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}