#rooms .container{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#rooms h2 {
    text-align: center;
    color: #236b29;
    margin-top: 3vw;
    font-style: italic;
    font-size: 2rem; 
}

#imagem{
    background-image: linear-gradient(rgba(4, 48, 52, 0.1), rgba(52, 52, 52, 0.7)), url(../../img/logos/quarto-plano-de-fundo.jpg);
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quartoArvore,
.quartoSolo{
    display: flex;
    flex-wrap: wrap;
}

.quarto{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1vw;
    width: 31vw;
    height: 35vw;
}

.carrossel{
    position: relative;
    display: flex;
    width: 100% ;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.foto {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.foto img{
    width: 30vw;
    height: 25vw;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

.prev,
.next{
    border: none;
    font-size: 2vw;
    width: 3vw;
    height: 3vw;
    color: #fff;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}

.next{
    right: 0;
}

.prev{
    left: 0;
}

.texto h3{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.texto{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #defbda;
    width: 95%;
    height: 30%;
    bottom: 8px;
}

.texto div{
    align-items: flex-start ;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40vw;
    overflow-y: auto;
}

.texto p{
    margin-top: 2%;
    margin-left: 1vw;
}

.texto button{
    position: relative;
    width: 35%;
    height: 4vh;
    bottom: -5px;
    left: 35%;
    border: 1px solid #000;
    background: transparent;
}

hr{
    border: 1px solid #5f5f5f;
    width: 90%;
}

/*utilizar position relative para o texto e refazer a formatação (por conta da adição do carrossel)*/