*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #0d3010;
}

header img{
    width: 200px;
    margin-left: 2vw;
}

nav,
footer .sugestao{
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header li{
    padding-top: 3vw;
    white-space: nowrap;
}

header a{
    color: #dab836;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}

a,
h2,
h3,
button{
    font-family: 'cinzel';
}

p{
    font-family: "Old Standard TT";
}

button{
    cursor: pointer;
    border: none;
}

#rooms .container{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#rooms h2 {
    text-align: center;
    color: #236b29;
    margin-top: 3vw;
    font-style: italic;
    font-size: 2rem; 
}

#imagem{
    background-image: linear-gradient(rgba(4, 48, 52, 0.1), rgba(52, 52, 52, 0.7)), url(../../img/logos/quarto-plano-de-fundo.jpg);
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quartoArvore,
.quartoSolo{
    display: flex;
    flex-wrap: wrap;
}

.quarto{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1vw;
    width: 31vw;
    height: 35vw;
}

.carrossel{
    position: relative;
    display: flex;
    width: 100% ;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.foto {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.foto img{
    width: 30vw;
    height: 25vw;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

.prev,
.next{
    font-size: 2vw;
    width: 3vw;
    height: 3vw;
    color: #fff;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}

.next{
    right: 0;
}

.prev{
    left: 0;
}

.texto h3{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.texto{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #defbda;
    width: 90%;
    height: 30%;
    bottom: 8px;
}

.texto div{
    align-items: flex-start ;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40vw;
    overflow-y: auto;
}

.texto p{
    margin-top: 2%;
    margin-left: 1vw;
}

.texto button{
    position: relative;
    width: 35%;
    height: 4vh;
    bottom: -5px;
    left: 35%;
    border: 1px solid #000;
    background: transparent;
}

hr{
    border: 1px solid #5f5f5f;
    width: 90%;
}

/*utilizar position relative para o texto e refazer a formatação (por conta da adição do carrossel)*/

/*  Como ficaria o container 
        
        <div class="quarto">
            <div class="carrossel">
                <button class="prev">&lt;</button>
                <div class="foto">
                    ${imagens.map(imagem => `
                        <img src="../../img/quartos/${imagem}" alt="Imagem do quarto">
                    `).join('')}
                </div>
                <button class="next">&gt;</button>
            </div>
            
            <div class = "texto">
                <h3>${quarto.id}</h3>
                <div>
                    <p>${quarto.descricao}</p>
                    <p> preço: ${quarto.preco}</p>
                    <button> comprar </button>
                </div>
            </div>
        </div>
*/

footer{
    background-color: #0d3010;
    padding: 20px;
    color: #fff;
}

footer img{
    height: 20px;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

footer .metodosContato{
    flex-direction: column-reverse;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    gap: 2vw;
}

footer .contato div{
    margin-top: 1vw;
}

footer .sugestao{
    flex-direction: column;
    gap: 1vw;
}

form input,
form textarea{
    background-color: #59c766;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

::placeholder{
    color: white;
    font-family: "Old Standard TT";
}

form textarea{
    resize: none;
    height: 4vw;
}

footer h3{
    font-style: italic;
    color: #4d9d56;
}