*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #0d3010;
}

header img{
    width: 200px;
    margin-left: 2vw;
}

nav,
footer .sugestao{
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header li{
    padding-top: 3vw;
    white-space: nowrap;
}

header a{
    color: #dab836;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}

a {
    font-family: 'cinzel';
}

section .container{
    flex-direction: column;
    justify-content: center;
}

#imagem{
    background-image: linear-gradient(rgba(4, 48, 52, 0.1), rgba(52, 52, 52, 0.7)), url(../../img/logos/quarto-plano-de-fundo.jpg);
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*utilizar position relative para o texto e refazer a formatação (por conta da adição do carrossel)*/